html, body { margin: 0px; padding: 0px; font-size: 14px; }

a { text-decoration: none; font-style: italic; color: #000000; }
a:hover { color: #ff0000; }

/* 布局1：页面总高度为800px，分为2行。 示意如下：
 * | 主要内容   |
 * -------------
 * | 分页信息   |
 */
.layout1>.row:first-child { height: 768px; }

/* 布局2：页面总高度为800px，分为2列。示意如下：
 * |       | 记录列表[.list] |
 * | 左侧栏 |----------------|
 * |       | 记录分页        |
 */
.layout2>.row>.col-md { height: 800px; }
.layout2>.row>.col-md>.list { height: 768px; }

/* 分页 */
.page>div { display: inline; float: left; }
.page>.pagelist>nav>ul>li>input { width: 100px; text-align: center; border-color: #6A0888; color: #000000; }
.page>.pageinfo { margin-top: 10px; }
.page>.pageinfo>span { margin-left: 20px; color: #888888; font-style: italic; }
.page>.pageinfo>span>b { margin: 0px 5px; color: #000000; }

/* 标签 */
.tagitem { min-width: 80px; line-height: 16px; margin: 0px 5px 2px 0px; font-size: 14px; cursor: pointer; }

/* 文档/文件列表 */
.list>div { line-height: 30px; border-bottom: 1px dashed #cccccc; }
.list>div>span { margin-left: 10px; color: #888888; font-style: italic; }
.list>div>span>b { color: #000000; }
.list>div>i, .list>div>a { cursor: pointer; margin-left: 10px; }

.selitem { background-color: #eeeeee; }

/*------------------------------*/
/*


.wrapper>div>div { height: 800px; }
.wrapper>div>div>.list { height: 768px; }
.wrapper2>div:first-child { height: 760px; }
*/


/* 文档/文件列表显示 
.info { color: #aaaaaa; font-style: italic; }
.info>b { margin: 0px 5px; color: #000000; }
*/
/* 标签显示 
.taglist>span { min-width: 80px; line-height: 20px; font-size: 14px; cursor: pointer; }
*/


