.tagrelate { height: 160px; }
.tagunrelate { height: 470px; }

#exportfiles { float: right; line-height: 30px; font-weight: bold; margin-top: 10px; }

.display_tags { margin-bottom: 10px; border-bottom: 1px dashed #cccccc; }
.display_tags>a { text-decoration: none; line-height: 30px; margin-left: 10px; color: #086A87; }
.TOC { overflow: auto; }