<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>文档编辑</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->   
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" /> 
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- editor.md -->
    <link rel="stylesheet" href="/node_modules/editor.md/css/editormd.css" />    
    <script type="text/javascript" src="/node_modules/editor.md/editormd.js"></script>

    <!-- 自定义 -->   
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/view/js/all.js" type="text/javascript"></script>
    <link  href="/document/view/css/index.css" rel="stylesheet" />
    <script src="/document/view/js/edit.js" type="text/javascript"></script>    
</head>
<body ng-app="editApp">

    <div ng-include="'/view/header.html'"></div>
    <div class="layout2 container-fluid mt-2" ng-controller="editCtrl" docid="<%=id%>">
        <div class="row">
            <!--- 侧栏开始 --->
            <div class="col-md-4 ml-2 rounded border border-secondary">  
                <div class="row mt-3">
                    <div class="col-md-2 pr-0">
                        <button type="button" class="btn btn-block btn-warning" ng-click="submit()">{{isEdit ? "编辑" : "创建"}}</button>
                    </div>
                    <div class="col-md-2 pr-0">
                        <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteWnd" ng-show="isEdit">删除</button>
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="tagopts.str" placeholder="标签搜索">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md" ng-show="docid!='0'">
                        <span class="info">ID：<b>{{doc.id}}</b></span>
                        <span class="info">创建时间：<b>{{doc.createdAt|limitTo:10}}</b></span>
                        <span class="info">更新时间：<b>{{doc.updatedAt|limitTo:10}}</b></span>
                    </div>
                    <div class="col-md" ng-show="docid='0'">
                        <span class="info">显示编辑文档的信息</span>
                    </div>    
                </div>
                <div class="row mt-3">
                    <div class="col-md card card-body bg-light mx-3 py-2 px-1">
                        <div class="tagrelate">
                            <span class="badge badge-success tagitem" ng-repeat="x in taglink" ng-click="tagUnselect(x);">{{x}}</span>
                        </div>
                        <hr />
                        <div class="tagunrelate">
                            <span class="badge badge-secondary tagitem" ng-repeat="x in taglist" ng-click="tagSelect(x);">{{x}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--- 侧栏结束 --->
            <div class="col-md">
                <div id="editormd"><textarea style="display:none;" ng-model="mdContent"></textarea></div>
            </div>
        </div>

        <!-- 文档删除确认窗口 -->
        <div id="deleteWnd" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold font-italic">文档删除确认</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        该操作将删除文档及其标签关联，确认删除吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger px-4" data-dismiss="modal" ng-click="delete();">删除</button>
                        <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">取消</button>                
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>