.ititle { line-height: 30px; margin: 20px 0px 5px; text-indent: 10px; font-style: italic; font-weight: bold; border-bottom: 2px solid #888888; }
.ilist>span { line-height: 16px; margin: 3px 5px 0px 0px; font-size: 12px; cursor: pointer; }
.ilist>span>i { margin: 0px 5px; }