.ititle { line-height: 30px; margin: 20px 0px 5px; text-indent: 10px; 
    font-style: italic; font-weight: bold; border-bottom: 2px solid #888888; }
.ilist>span { line-height: 16px; margin: 3px 5px 0px 0px; font-size: 12px; cursor: pointer; }
.ilist>span>i { margin: 0px 5px; }

/* 寄存器映射 ****************************************************************/

.map_menu { position: fixed; bottom: 0px; left: 0px; width: 800px; height: calc(100% - 50px); 
    padding: 0px 5px; border-top-right-radius: 5px; background-color: #eeeeee; z-index: 9; 
    opacity: 0.9; }
.map_starter { position: fixed; bottom: 0px; left: 0px; display: table; border-top: 1px solid #888888; 
    border-right: 1px solid #888888; border-top-right-radius: 20px; }
.map_starter>div { display: inline; float: left; }
.map_starter>div>input { width: 300px; }
.map_starter>div>a { line-height: 40px; font-style: italic; margin: 0px 10px; }

.map { text-align: center; }
.map>div { display: inline; float: left; width: 100px; overflow: hidden; margin-left: 1px; background-color: #cccccc; }
.map>div:first-child>div { font-style: italic; color: #666666; }
.map>div>div { border-bottom: 1px dashed #ffffff; cursor: pointer; }
.map>div>div:first-child { border-top: 1px solid #000000; line-height: 30px; background-color: #888888; 
    font-weight: bold;  }
.map>div>div:last-child { border-bottom: 1px solid #000000; }

.map_bits_valid { background-color: #81BEF7; }

.map_info { display: none; background-color: #ffffff; border-radius: 5px; padding: 5px 10px; 
    line-height: 25px; font-size: 14px; font-style: italic; }
.map_info>div>span { margin-right: 20px; }
.map_info>div:nth-child(1)>span:nth-child(1)>b { font-weight: bold; color: #FF0000; }
.map_info>div:nth-child(2)>span>b { color: #045FB4; font-size: 16px; }
.map_info>div:nth-child(3) { border-bottom: 1px dashed #cccccc; margin-bottom: 10px; }