<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,=">  <!-- 禁止加载facon.ico -->
    <title>file</title>

    <!-- 软件包导入(jquery放在anguarjs前， bootstrap放在jquery-ui前) -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script> 
    <script src="/node_modules/angular/angular.min.js" type="text/javascript"></script>
    <!-- bootstrap -->   
    <script src="/node_modules/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- toastr(notify) -->
    <script src="/node_modules/toastr/build/toastr.min.js" type="text/javascript"></script>
    <link  href="/node_modules/toastr/build/toastr.min.css" rel="stylesheet" /> 
    <!-- font-awesome -->
    <link  href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- 文件上传 -->   
    <script src="/node_modules/angular-file-upload/dist/angular-file-upload.min.js" type="text/javascript"></script>
    <!-- angularjs clipboard -->
    <script type="text/javascript" src="/node_modules/angular-clipboard/angular-clipboard.js"></script>

    <!-- 自定义 -->   
    <link  href="/view/css/all.css" rel="stylesheet" />
    <script src="/view/js/all.js" type="text/javascript"></script>
    <link  href="/file/view/css/index.css" rel="stylesheet" />
    <script src="/file/view/js/index.js" type="text/javascript"></script>    
</head>
<body ng-app="indexApp">

    <div ng-include="'/view/header.html'"></div>
    <div class="layout2 container-fluid mt-2" ng-controller="indexCtrl">
        <div class="row">
            <!--- 侧栏开始 --->
            <div class="col-md-4 ml-2 rounded border border-secondary">  
                <div class="row mt-3">
                    <div class="col-md-8 pr-0">
                        <input type="text" class="form-control" ng-model="opts.str" placeholder="文件名称搜索，多个字符串用空格分隔">
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.ext" placeholder="扩展名筛选">
                    </div>
                </div>                
                <div class="row mt-3">
                    <div class="col-md pr-0">
                        <input type="text" class="form-control" ng-model="opts.createget" placeholder="起始日期，如2019-11-05" /> 
                    </div>
                    <div class="col-md">
                        <input type="text" class="form-control" ng-model="opts.createlet" placeholder="结束日期" /> 
                    </div>  
                </div>
                <div class="row mt-3">
                    <div class="col-md pr-0">
                        <input type="text" class="form-control" ng-model="opts.sizeget" placeholder="最小文件大小，单位MB" /> 
                    </div>
                    <div class="col-md pr-0">
                        <input type="text" class="form-control" ng-model="opts.sizelet" placeholder="最大文件大小，如，0.5" /> 
                    </div>    
                    <div class="col-md-4">
                        <select class="form-control" ng-model="opts.order">
                            <option value="4">创建时间-降序</option> 
                            <option value="3">创建时间-升序</option>
                            <option value="2">文件大小-降序</option>
                            <option value="1">文件大小-升序</option>                               
                        </select>
                    </div>         
                </div>
                <div class="row mt-4 uploadblock" nv-file-drop="" uploader="uploader">
                    <div class="col-md card card-body bg-light mx-3 p-0">
                        <!--- 文件上传开始 --->
                        <div class="list mx-2 pt-2">
                            <div ng-repeat="x in uploader.queue" title="{{x.file.name}}"
                                ng-mouseenter='usel=x' ng-mouseleave='usel=null' ng-class="{itemsel:usel==x}">
                                <span>
                                    <b>{{x.file.name|limitTo:60}}</b>
                                    {{x.file.size/1024/1024|number:2 }}MB, {{item.progress}}%
                                </span>                                
                                <i class="fa fa-close mr-1" ng-click="x.remove();"></i>
                            </div>
                        </div>
                        <div class="row mx-3">
                            <div class="col-md-6">
                                <input type="file" class="custom-file-input" id="fileSelect" nv-file-select="" uploader="uploader" multiple required />
                                <label class="custom-file-label" for="fileSelect">Select multiple files...</label>
                            </div>
                            <div class="col-md pr-0">
                                <button type="button" ng-click="uploader.uploadAll()" class="btn btn-block btn-outline-success">批量上传</button>
                            </div>
                            <div class="col-md pr-0">
                                <button type="button" ng-click="uploader.cancelAll()" class="btn btn-block btn-outline-secondary">取消上传</button>
                            </div>
                        </div>
                        <!--- 文件上传结束 --->
                    </div>
                </div>
            </div>
            <!--- 侧栏结束 --->
            <div class="col-md">
                <div class="list">
                    <div ng-repeat="x in filelist" ng-mouseenter='fsel=x; copyText=x.location' ng-mouseleave='fsel=null' 
                        ng-class="{selitem:(fsel==x) || (delid==x.id)}">                        
                        <span>
                            <b><a href="{{x.location}}" target="_blank">{{x.name|limitTo:200}}</a></b>
                            {{x.createdAt|limitTo:10}}, {{x.size/1024/1024|number:2 }}MB
                        </span>
                        <a ng-show="fsel==x" href="#" clipboard text="copyText" on-copied="copySuccess()"><i class="fa fa-copy"></i></a>
                        <a ng-show="fsel==x" href="#" data-toggle="modal" data-target="#deleteWnd" ng-click="selectDel(x.id);"><i class="fa fa-close"></i></a>
                    </div>
                </div>
                <!--- 分页信息开始 --->
                <div class="page">
                    <div class="pagelist">
                        <nav>
                            <ul class="pagination">
                                <li ng-repeat="x in page.list" class="page-item"
                                    ng-class="{'disabled': x.disable, 'active':x.active}" 
                                    ng-click="opts.page=x.page">
                                        <a class="page-link" href="#">{{x.name}}</a>
                                </li>
                                <li class="page-item">
                                    <input class="page-link" type="text" placeholder="跳转页码" title="回车跳转" 
                                        ng-model="pageGoto" ng-keydown="$event.keyCode == 13 && pageJump()" />
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="pageinfo">
                        <span>当前在第<b>{{page.cur}}</b>页</span>                        
                        <span>每页<b>{{page.size}}</b>条</span>
                        <span>共<b>{{page.max}}</b>页</span>
                        <span>共<b>{{page.total}}</b>条</span>
                    </div>
                </div>
                <!--- 分页信息结束 --->
            </div>
        </div>

        <!-- 选中标签删除确认窗口 -->
        <div id="deleteWnd" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold font-italic">文件删除确认</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        该操作将删除文件，如果仍有文档引用该文件，将无效。确认删除吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger px-4" data-dismiss="modal" ng-click="delete();">删除</button>
                        <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">取消</button>                
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>