/* resource */
.resource_list>div { height: 32px; }
.resource_list>div>img { float: left; cursor: pointer; }
.resource_list>div>div { 
    display: inline; float: left; 
    height: 25px; line-height: 25px; width: calc(100% - 50px); margin-left: 10px; 
    border-bottom: 1px dashed #cccccc; overflow: hidden; 
}

/* index */
.category-view { min-height: 100px; overflow: auto; }
.category-edit { 
    position: fixed; right: 20px; top: 60px; 
    width: 800px; background-color: #dddddd; 
    z-index: 999; opacity: 0.5; transition: all linear 0.3s; 
}

.category_node>.doc { color: #DF3A01; font-weight: bold; }
.category_node>.file { color: #084B8A; font-weight: bold; }
